[submodule "odin-rock-paper-scissors"]
	path = odin-rock-paper-scissors
	url = git@github.com:Sandeep-K-Suthar/odin-rock-paper-scissors.git
[submodule "3_rock-paper-scissors"]
	path = 3_rock-paper-scissors
	url = git@github.com:Sandeep-K-Suthar/odin-rock-paper-scissors.git
[submodule "1_git-test"]
	path = 1_git-test
	url = git@github.com:Sandeep-K-Suthar/odin-git-test.git
[submodule "2_landing-page"]
	path = 2_landing-page
	url = git@github.com:Sandeep-K-Suthar/odin-landing-page.git
[submodule "4_javascript-exercises"]
	path = 4_javascript-exercises
	url = git@github.com:Sandeep-K-Suthar/javascript-exercises.git
[submodule "5_dynamic-shopping-list"]
	path = 5_dynamic-shopping-list
	url = git@github.com:Sandeep-K-Suthar/odin-dynamic-shopping-list.git
