[submodule "odin-git-test"]
	path = odin-git-test
	url = git@github.com:Sandeep-K-Suthar/odin-git-test.git
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = git@github.com:Sandeep-K-Suthar/odin-landing-page.git
[submodule "odin-rock-paper-scissors"]
	path = odin-rock-paper-scissors
	url = git@github.com:Sandeep-K-Suthar/odin-rock-paper-scissors.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = git@github.com:Sandeep-K-Suthar/javascript-exercises.git
[submodule "odin-dynamic-shopping-list"]
	path = odin-dynamic-shopping-list
	url = git@github.com:Sandeep-K-Suthar/odin-dynamic-shopping-list.git
